<main>
    <h1>Eventos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quasi odit a beatae nam tempora similique dolore iure perspiciatis praesentium officia, cumque voluptate mollitia debitis cupiditate sequi inventore magni nihil.
    Repellendus qui eligendi voluptates id dolores harum cumque, non, nulla molestias reiciendis facilis nesciunt alias magni minima earum ipsa! Ducimus neque dolorum rerum voluptas provident rem explicabo quos facilis cumque!
    Dolores commodi reiciendis placeat animi, illum nobis explicabo atque magnam sed debitis sapiente odit saepe, consequuntur cum quos accusamus officiis voluptates, quis porro et. Molestias, quas? Cum reprehenderit ipsum tempore!
    Rem nam quas repellat ipsam cumque. Explicabo et esse error voluptates voluptatum incidunt, itaque culpa veritatis unde, repudiandae, beatae odit necessitatibus sit ipsam maxime. Nemo reiciendis eligendi voluptas neque maiores.
    Nemo pariatur ut suscipit, cumque facilis perspiciatis quam qui a repellendus dicta deserunt in corporis molestias veniam ex? Obcaecati eaque excepturi, quae animi voluptatibus nisi voluptatem consequatur voluptatum necessitatibus natus?
    Consectetur sit atque, velit ipsam vel nemo numquam illo, non est perferendis quos! Veritatis quo ex temporibus, tenetur neque non vitae, eos ipsam aliquid quae natus suscipit consectetur quos dolor?
    Incidunt ab ducimus, sapiente tempore, illo error repellendus fugit nobis soluta quia beatae dicta atque. Dolorem, distinctio! Sit minima expedita quisquam molestiae dolore vel ullam, amet dolorem aspernatur, sequi atque.
    Sequi reprehenderit, corporis dolorem doloremque fuga nisi id pariatur quisquam! Aliquam, fugit? Facilis vel, veritatis explicabo et iure enim aperiam eius voluptate dignissimos perferendis hic sunt esse laboriosam provident ratione.
    Fugit ab amet impedit perferendis. A nisi sunt blanditiis fugiat doloribus tenetur ea aliquam sequi consequuntur id molestiae dignissimos modi ad quas commodi vitae nihil perferendis voluptates, natus dolor? Officia.
    Sunt animi expedita quibusdam culpa saepe tenetur explicabo quis totam voluptatum tempore quia temporibus beatae id non consequatur veniam numquam obcaecati nemo, ipsam consectetur corrupti, vel autem excepturi! Deleniti, dolorem.</p>
    {{#each events}}
    <h3>{{this}}</h3>
    {{/each}}  
</main>