<main>
    <h3 style="font-family: Arial, sans-serif; padding: 20px;">Juegos disponibles:</h3>
    <p></p>
    <div class="container-fluid">
        <div id="products" class="row">
            {{#each products}}
            <div class="col-sm-2">
                <div class="card m-2">
                    <img class="card-img-top" src="{{this.photo}}" alt="{{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">Descripción del producto aquí</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>