<main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
  <section class="w-50 mb-4" style="min-width: 380px;">
    <h3 class="mt-5 mb-2 text-center" style="margin: 40px 10px !important; padding: 10px 20px; font-weight: bold; background-color: #240035 !important; border-radius: 10px;">Juegos adquiridos:</h3>
    <article
      id="products"
      class="d-flex flex-wrap justify-content-evenly"
    ></article>
  </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>