@font-face {
  font-family: "MPlantin Italic";
  src: url("/public/fonts/mplantin_italic.woff2") format("woff2"),
    url("/public/fonts/mplantin_italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MPlantin";
  src: url("/public/fonts/mplantin.woff2") format("woff2"),
    url("/public/fonts/mplantin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #94004a;
  font-family: "MPlantin", sans-serif;
  color: #fff;
}

.navbar,
.navbar-brand,
.navbar-nav .nav-link {
  background-color: #240035 !important;
  color: #fff !important;
}

.footer,
.footer .text-muted {
  background-color: #240035 !important;
  color: #fff !important;
}

.card-title {
  font-weight: bold;
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: "MPlantin", sans-serif;
    font-size: 12px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 80px;
    padding: 1px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 10px; /* Agregar margen a la derecha */
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 16px;
      min-width: 120px;
    }
  }

  h3 {
    color: #1f896e;
  }